<div class="row">
  <div class="col">
    <mat-card>
      <fieldset [ngClass]="{'fieldseter':true} ">
        <legend>
          {{ 'derechos_pecuniarios.titulo' | translate }}
        </legend>
        <mat-card-content>
          <p>{{ 'derechos_pecuniarios.forma_vigencia' | translate }} </p>
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field style="width: 100%;">
                <mat-select [formControl]="vigenciaElegida" placeholder="{{ 'derechos_pecuniarios.vigencia' | translate }}" (selectionChange)="cambiarVigencia()">
                  <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia.Id">{{ vigencia.Nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <button mat-button type="button" (click)="copiarConceptos()" >{{ 'derechos_pecuniarios.boton_copiar' | translate }} </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-title>{{ 'derechos_pecuniarios.conceptos' | translate }}</mat-card-title>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container *ngFor="let columna of displayedColumns" [matColumnDef]="columna">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ nombresColumnas[columna] | translate }}</th>
              <td mat-cell *matCellDef="let fila; let i = index"
                  [ngClass]="{'row-par': i % 2 === 0, 'row-impar': i % 2 !== 0, 'row-hover': hoverIndex === i}"
                  (mouseover)="hoverIndex = i"
                  (mouseout)="hoverIndex = null">

                  <ng-container>
                      {{ fila[columna] }}
                  </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let fila; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator
            [pageSize]="5"
            [pageSizeOptions]="[]"
            showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </fieldset>
    </mat-card>
  </div>
</div>