<mat-card>
  <mat-card-header>
    <mat-card-title>{{
      "derechos_pecuniarios.generacion_recibo_derecho_pecuniario" | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr width="0%" />
    <fieldset [ngClass]="{ fieldseter: true }">
      <div class="row">
        <div class="col-3">
          <label for="">{{ "GLOBAL.nombre" | translate }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{
              userData
                ? userData.NombreCompleto
                  ? userData.NombreCompleto
                  : ""
                : ""
            }}
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="">{{
            "GLOBAL.documento_identificacion" | translate
          }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{ userData ? (userData.Documento ? userData.Documento : "") : "" }}
          </span>
        </div>
      </div>
    </fieldset>

    <br />
    <fieldset [ngClass]="{ fieldseter: true }" *ngIf="!new_pecuniario">
      <legend>
        {{ "derechos_pecuniarios.recibos_generados" | translate }}
      </legend>
      <div style="overflow: auto">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container
            *ngFor="let columna of displayedColumns"
            [matColumnDef]="columna"
          >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ nombresColumnas[columna] | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let fila; let i = index"
              [ngClass]="{
                'row-par': i % 2 === 0,
                'row-impar': i % 2 !== 0,
                'row-hover': hoverIndex === i
              }"
              (mouseover)="hoverIndex = i"
              (mouseout)="hoverIndex = null"
            >
              <ng-container
                *ngIf="
                  !priceColumns.includes(columna) &&
                  !actionColumns.includes(columna)
                "
              >
                {{ fila[columna] }}
              </ng-container>

              <ng-container *ngIf="priceColumns.includes(columna)">
                {{ formatearPrecio(fila[columna]) }}
              </ng-container>

              <ng-container
                *ngIf="
                  actionColumns.includes(columna) && columna == 'VerRecibo'
                "
              >
                <button
                  mat-icon-button
                  [matTooltip]="fila[columna]?.label"
                  (click)="descargarReciboPago(fila)"
                >
                  <mat-icon [class]="fila[columna]?.class">{{
                    fila[columna]?.icon
                  }}</mat-icon>
                </button>
              </ng-container>

              <ng-container
                *ngIf="actionColumns.includes(columna) && columna == 'Pagar'"
              >
                <button
                  mat-icon-button
                  [matTooltip]="fila[columna]?.label"
                  (click)="pagar(fila)"
                >
                  <mat-icon [class]="fila[columna]?.class">{{
                    fila[columna]?.icon
                  }}</mat-icon>
                </button>
              </ng-container>

              <ng-container
                *ngIf="
                  actionColumns.includes(columna) && columna == 'AdjuntarPago'
                "
              >
                <button
                  mat-icon-button
                  [matTooltip]="fila[columna]?.label"
                  (click)="adjuntarPago(fila)"
                >
                  <mat-icon [class]="fila[columna]?.class">{{
                    fila[columna]?.icon
                  }}</mat-icon>
                </button>
              </ng-container>

              <ng-container
                *ngIf="
                  actionColumns.includes(columna) && columna == 'Solicitar'
                "
              >
                <button
                  mat-icon-button
                  [matTooltip]="fila[columna]?.label"
                  (click)="solicitar(fila)"
                >
                  <mat-icon [class]="fila[columna]?.class">{{
                    fila[columna]?.icon
                  }}</mat-icon>
                </button>
              </ng-container>

              <ng-container
                *ngIf="
                  actionColumns.includes(columna) && columna == 'VerRespuesta'
                "
              >
                <button
                  mat-icon-button
                  [matTooltip]="fila[columna]?.label"
                  (click)="verRespuesta(fila)"
                >
                  <mat-icon [class]="fila[columna]?.class">{{
                    fila[columna]?.icon
                  }}</mat-icon>
                </button>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let fila; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <hr width="0%" />
      <div class="text-center">
        <button
          *ngIf="!new_pecuniario"
          mat-button
          type="button"
          color="primary"
          class="boton-primary"
          (click)="nuevoDerecho()"
        >
          {{
            "derechos_pecuniarios.nuevo_recibo_derecho_pecuniario" | translate
          }}
        </button>
      </div>
    </fieldset>

    <br />
    <fieldset [ngClass]="{ fieldseter: true }" *ngIf="new_pecuniario">
      <legend>
        {{ "derechos_pecuniarios.codigos_relacionados" | translate }}
      </legend>
      <div class="row">
        <div class="col-12">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="{{
                'derechos_pecuniarios.placeholder_codigos_relacionados'
                  | translate
              }}"
              (selectionChange)="cargarDatos($event)"
            >
              <mat-option
                *ngFor="let codigo of info_info_persona.Codigos"
                [value]="codigo"
              >
                <b>{{ codigo.Proyecto.slice(0, 11) }}</b
                >{{ codigo.Proyecto.slice(11) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <br />
    <fieldset [ngClass]="{ fieldseter: true }" *ngIf="new_pecuniario">
      <legend>
        {{ "derechos_pecuniarios.derecho_pecuniario" | translate }}
      </legend>
      <div class="row" *ngIf="new_pecuniario">
        <div class="col-12">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="{{
                'derechos_pecuniarios.placeholder_derecho_pecuniario'
                  | translate
              }}"
              (selectionChange)="loadConcepto($event)"
            >
              <mat-option
                *ngFor="let concepto of conceptos"
                [value]="concepto"
                >{{ concepto.Nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <br />
    <fieldset [ngClass]="{ fieldseter: true }" *ngIf="new_pecuniario">
      <legend>{{ "derechos_pecuniarios.verificar_datos" | translate }}</legend>
      <div class="row">
        <div class="col-3">
          <label for="">{{ "derechos_pecuniarios.codigo" | translate }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{ generacion_recibo.code }}
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="">{{
            "GLOBAL.documento_identificacion" | translate
          }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{ generacion_recibo.documentId }}
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="">{{ "GLOBAL.nombre" | translate }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{ generacion_recibo.username }}
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="">{{
            "derechos_pecuniarios.proyecto_curricular" | translate
          }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{ generacion_recibo.curricularProgram }}
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="">{{
            "derechos_pecuniarios.concepto_recibo" | translate
          }}</label>
        </div>
        <div class="col-9">
          <span class="form-control">
            {{ generacion_recibo.concept }}
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label for="">{{ "derechos_pecuniarios.valor" | translate }}</label>
        </div>
        <div class="col-9">
          <span
            *ngIf="
              generacion_recibo.value && generacion_recibo.value.toLowerCase
            "
            class="form-control"
          >
            {{ generacion_recibo.value }}
          </span>
          <span
            *ngIf="
              generacion_recibo.value && generacion_recibo.value.toExponential
            "
            class="form-control"
          >
            {{ formatterPeso.format(generacion_recibo.value) }}
          </span>
        </div>
      </div>
    </fieldset>
    <div *ngIf="gen_recibo" class="exp-card text-center">
      <mat-card-content
        class="d-flex justify-content-center align-items-center"
      >
        <button
          class="btn btn-light border"
          style="display: grid"
          (click)="generar_recibo()"
        >
          {{ "derechos_pecuniarios.generar_recibo" | translate }}
          <i class="fa fa-barcode fa-5x"></i>
        </button>
      </mat-card-content>
    </div>
    <br /><br />
    <div class="text-center" *ngIf="new_pecuniario">
      <button
        mat-button
        type="button"
        color="primary"
        class="boton-primary"
        (click)="new_pecuniario = false; gen_recibo = false"
      >
        {{ "GLOBAL.cancelar" | translate }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
